# 1

In [ ]:
def is_palindrome(s):
    s = s.lower()
    s = ''.join(e for e in s if e.isalnum())
    return s == s[::-1]

# 2

In [2]:
input_string = input("Enter a string to convert: ")
uppercase_string = input_string.upper()
print("Uppercase string is:", uppercase_string)

Enter a string to convert: asde
Uppercase string is: ASDE

# 3

In [7]:
input_string = input("Enter a string: ")
lowercase_string = input_string.lower()
print("Lowercase string:", lowercase_string)

Enter a string: DD
Lowercase string: dd

# 4

In [10]:
def count_vowels(string):
    vowel_count = 0
    string = string.lower()
    vowels = set("aeiou")
    for char in string:
        if char in vowels:
            vowel_count += 1

    return vowel_count

input_string = "Hello, how are you, i am fine?"
result = count_vowels(input_string)
print("Number of vowels:", result)

Number of vowels: 11

# 5

In [12]:
def count_consonants(string):
    consonant_count = 0
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    for char in string:
        if char in consonants:
            consonant_count += 1
    return consonant_count
input_string = input("Enter a string: ")
result = count_consonants(input_string)
print("Number of consonants:", result)

Enter a string:
Number of consonants: 0

# 6

In [15]:
def remove_whitespace(input_string):
    result = ""
    for char in input_string:
        if char != " ":
            result += char
    return result
input_string = "Hello  every one , my name is divyanshu dwivedi "
output_string = remove_whitespace(input_string)
print(output_string)

Helloeveryone,mynameisdivyanshudwivedi

# 7

In [18]:
count = 0
for char in input_string: 
    count += 1
print("The length of the string is:", count)

The length of the string is: 48

# 8

In [20]:
count = 0
for char in input_string: 
    count += 1
print("The length of the string is:", count)

The length of the string is: 48

# 9

In [23]:
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word to check for: ")
if specific_word in input_string:
    print(f"The string contains the word '{specific_word}'.")
else:
    print(f"The string does not contain the word '{specific_word}'.")

Enter a string: 10
Enter the specific word to check for: 1
The string contains the word '1'.

# 10

In [ ]:
input_string = input("Enter a sentence: ")
old_word = input("Enter wrong word to replaced: ")
new_word = input("Enter the new word to print: ")
modified_string = input_string.replace(old_word, new_word)
print("Modified string:", modified_string)

Enter a sentence:

# 11

In [ ]:
def count_word_occurrences(input_string, target_word):
    word_count = 0
    words = input_string.split()

    for word in words:
        if word == target_word:
            word_count += 1
    return word_count
input_string = "This is a sample sentence. This sentence contains the word 'sample' multiple times."
target_word = "sample"
result = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the input string.")

# 12

In [62]:
def find_first_occurrence(text, word):
    index = text.find(word)
    if index == -1:
        return None 
        return index

text = "This is an example sentence. This sentence contains the word example."
word = "example"
result = find_first_occurrence(text, word)
print("Index of the first occurrence:", result)

Index of the first occurrence: None

# 13

In [70]:
def is_alphanumeric(text):
    return text.isalnum()
text = "Hello123"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

# 14

In [72]:
def extract_digits(text):
    digits = ""
    for char in text:
        if char.isdigit():
            digits += char
    return digits
text = "Hello123World456"
extracted_digits = extract_digits(text)
print("Extracted digits:", extracted_digits)

Extracted digits: 123456

In [74]:
def extract_alphabets(input_string):
    alphabets = ' '.join([char for char in input_string if char.isalpha()])
    return alphabets
input_string = "Hello123World456"
result = extract_alphabets(input_string)
print(result)

H e l l o W o r l d

In [76]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count
input_string = "Hellothis IS My OWrld"
result = count_uppercase(input_string)
print(result)

6

# 15

In [77]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count
input_string = "HelloWORLD"
result = count_lowercase(input_string)
print(result)

4

# 16

In [78]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string
input_string = "HelloWORLD"
result = swap_case(input_string)
print(result)

hELLOworld

# 17

In [79]:
def extract_username(email):
    username = email.split('@')[0]  # Split the email address at "@" and take the first part
    return username

email = "example@email.com"
result = extract_username(email)
print(result)

example

# 18

In [81]:
def extract_domain(email):
    domain = email.split('@')[1] 
    return domain

email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

# 19

In [82]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  # Split the string at spaces and then join using a single space
    return cleaned_string

# Example input string with multiple spaces
input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

# Set Based Practice problem

# 1

In [ ]:
integer_list = [i for i in range(1, 11)]
print(integer_list)

# 2

In [3]:
my_list = [10, 20, 49,120]
new_element = 438
my_list.append(new_element)
print("Updated list:", my_list)

Updated list: [10, 20, 49, 120, 438]

# 3

In [7]:
my_list = [10, 20, 29, 41, 50]
new_element = 21
index_to_insert = 2
my_list.insert(index_to_insert, new_element)
print("Updated list:", my_list)

Updated list: [10, 20, 21, 29, 41, 50]

# 4

In [11]:
my_list = [10, 20, 29, 40, 50]
element_to_remove = 20
my_list.remove(element_to_remove)
print("Updated list:", my_list)

Updated list: [10, 29, 40, 50]

# 5

In [14]:
my_list = [60,40,50,80,90]
index_to_remove = 2
removed_element = my_list.pop(index_to_remove)
print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [60, 40, 80, 90]
Removed element: 50

# 6

In [18]:
my_list = [10, 20, 30,120, 40, 50, 30]
element_to_find = 120
index = my_list.index(element_to_find)
print(f"The index of {element_to_find} is {index}")

The index of 120 is 3

# 7

In [22]:
my_list = [10, 20, 30, 40, 50, 30, 30]
element_to_count = 30
count = my_list.count(element_to_count)
print(f"The element {element_to_count} occurs {count} times in the list.")

The element 30 occurs 3 times in the list.

# 8

In [30]:
my_list = [1]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [3, 2, 8, 36, 2, 4, 9]

# 9

In [34]:
my_list = [50, 10, 30, 40, 20]
my_list.sort()
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [10, 20, 30, 40, 50]

# 10

In [39]:
even_numbers = [x for x in range(2, 21, 2)]
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# 11

In [50]:
my_list = [10, 20, 30, 40, 50,60,70]
total_sum = sum(my_list)
print("Sum of elements is:", total_sum)

Sum of elements: 150

# 12

In [52]:
my_list = [10, 20, 30, 40, 50,32,36,1345]
max_value = max(my_list)
print("Maximum value:", max_value)

Maximum value: 1345

# 13

In [54]:
my_list = [13,31,63,78,27,82]
min_value = min(my_list) 
print("Minimum value:", min_value)

Minimum value: 13

# 14

In [55]:
squares = [x ** 2 for x in range(1, 11)]
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 15

In [56]:
import random
random_integers = [random.randint(1, 100) for _ in range(10)]
print("List of random integers:", random_integers)

List of random integers: [34, 48, 70, 3, 82, 82, 13, 2, 75, 64]

# 16

In [58]:
my_list = [10, 20, 30, 20, 40, 10, 50, 30,10,54]
unique_list = list(set(my_list))
print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 54, 30]

# 17

In [59]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
difference = list(set(list1).difference(list2))
print("Difference between lists:", difference)

Difference between lists: [20, 10]

# 18

In [60]:
my_list = [10, 20, 30, 40, 50]
multiplied_list = [x * 2 for x in my_list]
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

# 19

In [61]:
string_list = ["10", "20", "30", "40", "50"]
integer_list = [int(x) for x in string_list]
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

# 20